.lk-header{

  width: 100%;
  padding-top: 25px;
  color: #fff;
  background-color: #232734;
  height: 90px;
}
.main-header__topline{
  display: flex;
  color: #fff;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;

}

.lk_page{
  padding-bottom: 400px;
  min-height: 600px;
  background-color: #edeef2;
  padding-top: 70px;
}