.main-header{

  width: 100%;
  background-image: url("../img/main_bg.jpg");
  color: #fff;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  padding-top: 24px;
}
.main-header__topline{
  display: flex;
  color: #fff;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;

}
.main-header__topline_logo{
  font-size: 30px;
  font-weight: 400;
  color: #fff;
  &:hover {
    background: linear-gradient(92deg, rgba(186, 70, 139, 1) 30%, rgba(140, 139, 203, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

  }
}
.main-header__topline_nav{
  ul{
    display: flex;

    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;

  }
  li{
    margin-right: 30px;
    &.login_link{
      margin-right: 20px;
      a{
        width: 107px;
        height: 39px;
        border-radius: 18px;
        border: 1px solid #fff;
        line-height: 34px;
        text-align: center;
        background-color: transparent;
        font-size: 16px;
        text-transform: capitalize;
      }
    }
    &.registration_link{
      margin-right: 0;
      a{
        width: 150px;
        height: 39px;
        border-radius: 18px;

        line-height: 39px;
        text-align: center;
        background-color: #6477ff;
        background-image: linear-gradient(-92deg, rgba(72, 188, 255, 0.51) 0%, rgba(255, 0, 0, 0.51) 100%);
        font-size: 16px;
        text-transform: capitalize;
        &:hover {
          background-color: #6477ff;
          background-image: linear-gradient(-92deg, rgba(255, 0, 0, 0.51) 100%, rgba(72, 188, 255, 0.51) 0%);
          color: #fff;
        }
      }

    }

  }
  a{
    color: #ffffff;

    font-size: 16px;
    font-weight: 300;
    line-height: 39px;
    text-transform: uppercase;
    &.active{
      font-weight: 400;
    }
  }
}
.main-header_center{
  width: 100%;
  display: flex;
  flex-direction: column;

  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  min-height: calc(100vh - 62px);
  width: 100%;
  h1{
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 72px;
    font-weight: 700;
    line-height: 48px;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    margin-bottom: 5px;
  }
  .main-header_center_descr{
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 24px;
    font-weight: 300;
    line-height: 49px;
    text-align: center;
    letter-spacing: 7.68px;
    width: 100%;
    margin-bottom: 20px;
  }
  form{
    display: flex;
  }
  input.search{
    width: 540px;
    height: 46px;
    border-radius: 21px 0px 0px 21px;
    background-color: #ffffff;
    border: none;
    margin: 0;
  }
  .search_button{
    width: 131px;
    height: 46px;
    border-radius: 0 22px 22px 0;
    background-color: #6477ff;
    background-image: linear-gradient(-92deg, rgba(72, 188, 255, 0.51) 0%, rgba(255, 0, 0, 0.51) 100%);
    color: #fff;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 14px;
    border: none;
    &:hover {
      background-color: #6477ff;
      background-image: linear-gradient(-92deg, rgba(255, 0, 0, 0.51) 100%, rgba(72, 188, 255, 0.51) 0%);
      color: #fff;
    }
  }
}