$default-font: "roboto-example", sans-serif;
$accent: orange;
$maingrad: linear-gradient(-92deg, rgba(72, 188, 255, 0.51) 0%, rgba(255, 0, 0, 0.51) 100%);


// Customization Bootstrap vars from "app/libs/bootstrap/scss/_variables.scss"
$grid-gutter-width: 30px;
$grid-columns: 12;
$grid-breakpoints: (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px);
$container-max-widths: (sm: 540px, md: 720px, lg: 960px, xl: 1170px);

$gutter: $grid-gutter-width;
