@import "vars";
@import "fonts";
@import "libs";
@import "header";

::placeholder {
	color: #666;
}

::selection {
	background-color: $accent;
	color: #fff;
}
*{
  -webkit-appearance: none;
  box-sizing: border-box!important;
}
html, body {
	height: 100%;
}


body {
  background: #fff;

  font-size: 16px;
  color: #000;
  min-width: 320px;
  overflow-x: hidden;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  line-height: 1.2;
  font-style: normal;
  font-weight: 400;

}

.visible-mb {
  display: none;
}

ul li {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  outline: none;
  color: #000000;
  text-decoration: none;
  display: inline-block;
  outline: none !important;
  cursor: pointer;
  &:hover, &:active, &:focus {
    text-decoration: none;
    -moz-transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
    outline: none;
    border: none;
  }
}

button {
  outline: none !important;
  &:hover {
    opacity: 0.8;
  }
}

p {
  font-weight: 400;
  line-height: 1.5;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  margin-top: 0;
}

h3 {
  font-size: 24px;
  font-weight: 500;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  margin-top: 0;
  padding: 0;
  margin-bottom: 0;
  font-family: 'gals';
}

h1 {
  font-size: 36px;
  color: #000;
  font-weight: 500;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  margin-top: 0;
  padding: 0;
  margin-bottom: 25px;
  font-family: 'gals';
}

h2 {
  font-size: 24px;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  margin-top: 0;
  padding: 0;
  margin-bottom: 10px;
  font-weight: 500;
  font-family: 'gals';
  text-transform: uppercase;
  text-align: center;
}

ul, menu, dir {
  display: block;
  list-style-type: disc;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 0px;
  padding: 0;
  margin: 0;
}

input {
  &[type="email"], &[type="text"], &[type="tel"], &[type="url"], &[type="password"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    width: 100%;
    border: 1px solid #d8d8d8;
    font-size: 18px;
    border-radius: 0px;
    padding: 0 15px;
    height: 38px;
    line-height: 38px;
    background-color: #f8f8f8;
    margin-bottom: 5px;
    font-weight: 400;
  }
}

textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  width: 100%;
  border: 1px solid #d8d8d8;
  font-size: 18px;
  height: 80px;
  padding: 15px;
  resize: none;
  background-color: #f8f8f8;
}

input {
  &[type="email"]:focus, &[type="number"]:focus, &[type="search"]:focus, &[type="text"]:focus, &[type="tel"]:focus, &[type="url"]:focus:focus, &[type="password"]:focus {
    outline: none;
  }
}

textarea:focus {
  outline: none;
}

::-webkit-input-placeholder, ::-moz-placeholder, :-moz-placeholder, :-ms-input-placeholder {
  text-indent: 0px;
  color: #9b9b9b;
  -webkit-transition: text-indent 0.3s ease;
  -o-transition: text-indent 0.3s ease;
  transition: text-indent 0.3s ease;
}

:focus {
  &::-webkit-input-placeholder, &::-moz-placeholder, &:-moz-placeholder, &:-ms-input-placeholder {
    text-indent: 500px;
    -webkit-transition: text-indent 0.3s ease;
    -o-transition: text-indent 0.3s ease;
    transition: text-indent 0.3s ease;
  }
}

textarea {
  &::-webkit-input-placeholder, &::-moz-placeholder, &:-moz-placeholder, &:-ms-input-placeholder {
    text-indent: 0px;
  }
  &:focus {
    &::-webkit-input-placeholder, &::-moz-placeholder, &:-moz-placeholder, &:-ms-input-placeholder {
      text-indent: 0px;
    }
  }
}
body {
    box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
	input, textarea {
			border: #666 1px solid;
			outline: none;
			&:focus:required:invalid {
				border-color: red;
			}
			&:required:valid {
				border-color: green;
			}
	}
}

.img-responsive {
	display: block;
	max-width: 100%;
	height: auto;
}

.text-center {
	text-align: center;
}

@import "media"; // Always at the end
