<footer class="footer-lk">

    <div class="container">
        <a href="#" class="footer_logo">Bringwash</a>
        <div class="row justify-content-between">
            <div class="col-md-4">
                <div class="footer_link_title"><i class="fa fa-question-circle"></i>

                    Frequently asked questions</div>

                <ul class="footer_link">
                    <li><a href="#"> How does booking work?</a></li>
                    <li><a href="#">Do I need to have any equipment?</a></li>
                    <li><a href="#">How do you access my car?</a></li>
                    <li><a href="#">Who will come to my place?</a></li>
                    <li><a href="#">Who is behind Washos?</a></li>
                    <li><a href="#">See all questions</a></li>
                </ul>

            </div>
            <div class="col-lg-3 col-md-4">
                <div class="footer_link_title"><i class="fab fa-gg-circle"></i>

                    Mobile Car wash & detailing</div>
                <ul class="footer_link">
                    <li><a href="#">Lavish Mobile Car Wash</a></li>
                    <li><a href="#">Reveal Mobile Car Detailing</a></li>
                    <li><a href="#">Outright Mobile Car Detailing</a></li>
                    <li><a href="#">Ace Mobile Car Detailing</a></li>
                </ul>

            </div>
            <div class="col-md-3 col-xl-2 col-lg-3">
                <div class="footer_link_title"><i class="fa fa-exclamation-circle"></i> Information</div>
                <ul class="footer_link">
                    <li><a href="#">Our Pricing</a></li>
                    <li><a href="#">About Washos</a></li>
                    <li><a href="#">Offer a gift card</a></li>
                    <li><a href="#">Terms of sale</a></li>
                    <li><a href="#">Terms of use</a></li>
                </ul>

            </div>
        </div>

        <div class="socials socials_footer">
            <a class="socials__link"  href="#" target="_blank"><i class="icon-facebook-logo-button"></i></a>
            <a class="socials__link" href="#" target="_blank"><i class="icon-instagram-logo"></i></a>


        </div>
        <div class="footer_copying">
            © Copyright 2018. All Rights Reserved111 Your Street, Your City, Your State 11111, Your Country <br>
            www.washos.com
        </div>
    </div>
</footer>

<div class="all_pages">
    <div class="page_point"></div>
    <ul class="page_list">
        <li><a href="index.html">Home</a></li>
        <li><a href="about.html">about us</a></li>
        <li><a href="faq.html">faq</a></li>
        <li><a href="text.html">text</a></li>
        <li><a href="pricing.html">pricing</a></li>
        <li><a href="login.html">login</a></li>
        <li><a href="sing.html">sing</a></li>
        <li><a href="personal_cards.html">personal_cards</a></li>
        <li><a href="personal_booking.html">personal_booking</a></li>
        <li><a href="personal_cars.html">personal_cars</a></li>
        <li><a href="booking.html">booking</a></li>
    </ul>
</div>



<script src='../libs/jquery/dist/jquery.min.js'></script>
<script src='../libs/dist/owl.carousel.min.js'></script>
<script src='../libs/form_style/jquery.formstyler.js'></script>
<script src='../libs/waypoints/waypoints.min.js'></script>
<script src='../libs/fancybox/jquery.fancybox.min.js'></script>
<script src='../libs/animate/animate-css.js'></script>

<script src="../js/common.js"></script>
</body>
</html>