<header class="lk-header">
    <div class="container-fluid">
        <div class="main-header__topline">
            <a href="#" class="main-header__topline_logo">Bringwash</a>
            <nav class="main-header__topline_nav">
                <ul>
                    <li><a href="#" class="active">home</a></li>
                    <li><a href="#">cities</a></li>
                    <li><a href="#">help/support</a></li>
                    <li><a href="#">contact</a></li>
                    <li class="personal_link">
                        <a href="#"><img src="../img/chel.jpg" alt=""> <i class="icon-icon_22"></i></a>
                        <div class="personal_link_inform">
                            <ul>
                                <li><a href="#">Logout</a></li>
                                <li><a href="#">Link 2</a></li>
                            </ul>
                        </div>
                    </li>

                </ul>
            </nav>
            <a href="#" class="menu-button">Menu</a>
        </div>


    </div>
</header>