<header class="main-header">
    <div class="container">
        <div class="main-header__topline">
            <a href="#" class="main-header__topline_logo">Mobiltvätt</a>
            <nav class="main-header__topline_nav">
                <ul>
                    <li><a href="#">home</a></li>
                    <li><a href="#">cities</a></li>
                    <li><a href="#">help/support</a></li>
                    <li><a href="#">contact</a></li>

                    <li class="login_link"><a href="#">log in</a></li>
                    <li class="registration_link"><a href="#">registration</a></li>
                </ul>
            </nav>


        </div>






    </div>
</header>