<header class="text-header">
    <div class="container">
        <div class="main-header__topline">
            <a href="#" class="main-header__topline_logo"><img src="img/logo_m.png" alt=""></a>
            <nav class="main-header__topline_nav">
                <ul>
                    <li><a href="#" class="active">home</a></li>
                    <li><a href="#">cities</a></li>
                    <li><a href="#">help/support</a></li>
                    <li><a href="#">contact</a></li>

                    <li class="login_link"><a href="#">log in</a></li>
                    <li class="registration_link"><a href="#">registration</a></li>
                </ul>
            </nav>
            <a href="#" class="menu-button">Menu</a>
        </div>


    </div>
</header>