
<button class="nav-trigger" type="button">
    <span></span>
</button>
<div class="personal-sitebar">
    <div class="personal-sitebar__foto">
        <div class="personal-sitebar__foto_img">
            <img src="../img/chel.jpg" alt="">
        </div>
        <input type="file" id="pers_foto">
        <label for="pers_foto" class="add_persfoto_label"><img src="../img/camera.png" alt=""></label>
        <a href="#" class="dell_foto"><img src="../img/delete-picture.png" alt=""></a>
        <span>Ivanov Ivan </span>
    </div>

    <div class="personal-sitebar__menu">
        <ul>
            <li><a href="#"><i class="icon-user"></i> Profile</a></li>
            <li><a href="#"><i class="icon-day-23"></i> Bookings</a></li>
            <li><a href="#" class="active"><i class="icon-car2"></i> Cars</a></li>
            <li><a href="#"><i class="icon-placeholder"></i> Addresses</a></li>
            <li><a href="#"><i class="icon-credit-card"></i> Cards</a></li>
            <li><a href="#"><i class="icon-like"></i> Refer your friends</a></li>
            <li><a href="#"><i class="icon-power-button"></i> Log out</a></li>
        </ul>
    </div>
    <div class="personal-sitebar__meet">
        <a href="#">
            <img src="../img/handshake.svg" alt="">
            <span> <span> Make </span> an appointment</span>
        </a>
    </div>
</div>